.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: auto;
  background-color: rgb(55, 95, 255);
  border-radius: 1rem 2rem;
  box-shadow: 2px 1px 3px rgba(1, 1, 1, 0.3);
}

ul {
  list-style: none;
  display: flex;
  /* gap: 5rem; */
  align-items: center;
  font-family: sans-serif;
  font-size: .85rem;
  justify-content: center;
  transition: 5s;
}

ul li {
  color: white;
  width: 7rem;
}

.link {
  color: white;
  text-decoration: none;
}

li {
  color: white;
}

li:hover {
   color: #ccc;
}

li:focus {
  font-size: .1rem;
}



.hamburger {
  display: block;
}

.hamburger div {
   width: 2rem;
   height: .15rem;
   background-color: white;
   margin-bottom: .3rem;
}

.hamburger .middle {
   width: 1.5rem;
   height: .15rem;
   background-color: black;
}

